/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

:root {
	--red-dark: #E93F2F;
	--red-light: #F5AAA3;
	--blue-dark: #3E84f4;
	--blue-light: #B7D1FB;
	--yellow-dark: #FBBC05;
	--yellow-light: #FDDE81;
	--green-dark: #36B056;
	--green-light: #8ADBA0;
}

body {
	text-align: center;
	background: linear-gradient(90deg, #DDDDDD, white, #DDDDDD);
}

button {
	width: 150px;
	height: 150px;
	margin: 0px;
	padding: 0px;
	border: none;
	cursor: pointer;
}

button.lit {
	filter: brightness(150%);
}

#button-red {
	border-top-right-radius: 100%;
	background: radial-gradient(at bottom left, var(--red-light), var(--red-dark));
}

#button-blue {
	border-bottom-left-radius: 100%;
	background: radial-gradient(at top right, var(--blue-light), var(--blue-dark));
}

#button-yellow {
	border-bottom-right-radius: 100%;
	background: radial-gradient(at top left, var(--yellow-light), var(--yellow-dark));
}

#button-green {
	border-top-left-radius: 100%;
	background: radial-gradient(at bottom right, var(--green-light), var(--green-dark));
}

#button-start,
#button-back {
	border-radius: 300px;
	width: 250px;
	height: auto;
	font-size: 200%;
	background-color: #9933FF;
	font-weight: bold;
	color: white;
	text-shadow: 0px -2px #4D0099;
	border-bottom: 4px solid #4D0099;
	text-transform: uppercase;
}

#input-nickname {
	margin: 0 0 0.2em 0;
	padding: 0px;
	border: none;
	border-radius: 300px;
	width: 250px;
	height: auto;
	font-size: 200%;
	background-color: white;
	font-weight: bold;
	color: #404040;
	text-shadow: 0px -2px #B3B3B3;
	border-bottom: 4px solid #B3B3B3;
	text-transform: uppercase;
	text-align: center;
}

#text-round {
	font-size: 200%;
	font-weight: bold;
}

button:disabled {
	cursor: not-allowed;
}

#button-audio {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

#button-highscores {
	position: fixed;
	bottom: 5px;
	left: 5px;
	width: 40px;
	height: 30px;
	cursor: pointer;
}

#table-highscores {
	width: 75%;
	margin: 0 auto 1.5em auto;
	border-spacing: 0;
}

#table-highscores td {
	padding: 0.2em 0.5em;
}

#table-highscores tr > td:first-child {
	text-align: left;
}

#table-highscores tr > td:last-child {
	text-align: right;
}

#table-highscores tr.highlight {
	background: gold;
}

.hide {
	display: none !important;
}

@keyframes blinking {
	0% {filter: brightness(150%);}
	50% {filter: brightness(100%);}
	100% {filter: brightness(150%);}
}

.blink {
	animation-name: blinking;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	animation-delay: 0.6s;
}
